/* purgecss start ignore */
@tailwind  base;


@tailwind  components;

*{
  @apply font-nunito font-normal;
  transition: 0.1s;
}

.purple-gradient {
  background: rgb(99,44,166);
  background: linear-gradient(321deg, rgba(99,44,166,1) 0%, rgba(243,238,248,1) 100%, rgba(255,255,255,1) 100%);
}

/* purgecss end ignore */
@tailwind utilities;